#loadingScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: 10;
    flex-direction: column;
}


#loadingScreen img {
    width: 50%; 
    height: auto; 
    position: relative;
}

#startButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 40px;
    cursor: pointer;
    background-color: black;
    color: blueviolet;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
}

#startButton:hover {
    background-color: blueviolet;
    color: black;
    cursor: pointer;
}

body {
    background-image: url("GameIMGs/backgrIMG.jpeg");
}

#gameCanvas {
    display: none;
    margin: auto;
    border: 10px solid black;
    z-index: 10;
}

#gameCanvas:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}


#console {
    height: 300px;
    width: 800px;
    display: block;
    margin: auto;
    border: 10px solid black;
    background-color: black;
    color: forestgreen;
    overflow-y: auto;
    font-size: 35px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

#userInput {
    display: block;
    margin: auto;
    width: 800px;
    height: 100px;
    font-family: monospace;
    font-size: 16px;
    border: 10px solid black;
}

#instructions {
    background-color: black;
    color: forestgreen;
    margin: auto;
    width: 300px;
    height: 170px;
    font-family: monospace;
    font-size: 16px;
}

#congratsDiv {
    display: none;
    margin: auto;
    color: gold;
    font-size: 100px;
    text-align: center;
    background-color: black;
    width: 60%;
    border-radius: 20%;
    opacity: 0.7;
}


#congratsDiv:hover {
    cursor: pointer;
    background-color: forestgreen;
    color: black;
}

@media only screen and (max-width: 1920px) {
    body {
        transform: scale(0.8);
    }

    #loadingScreen {
        background-color: rgba(0, 0, 0, 0.1);
        transform: scale(1.2); 
    }

    #congratsDiv {
        width: 80%;
}

}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  